<html>

<head>
  {% if title %}
  <title>{{ title }} - Microblog</title>
  {% else %}
  <title>Welcome to Microblog</title>
  {% endif %}
</head>


<body>
  <div>Microblog:
    <!-- url_for('endpoint_name: name_of_view_function') -->
    <a href="{{url_for('index')}}">Home</a>
    {% if current_user.is_anonymous %}
    <a href="{{url_for('login')}}">Login</a>
    {% else %}
    <!-- 'user' view function requires username keyword argument -->
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
  </div>
  <hr>

  <!-- Flashed Messages -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <!-- Block Content -->
  {% block content %}
  {% endblock %}
</body>

</html>